body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #444;
}

select, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background: #c5e1f7;
  font-weight: bold;
  border: none;
}

.hidden {
  display: none;
}

#timer {
  text-align: right;
  font-weight: bold;
}

.option {
  background: #f1f8e9;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  cursor: pointer;
}

.option:hover {
  background: #e0f2f1;
}

#nextBtn {
  display: none;
  background: #bbdefb;
}
