body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 16px;
}

h1 {
  text-align: center;
}

select, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
}

.hidden {
  display: none;
}

#questionBox {
  font-size: 18px;
  line-height: 1.5;
  word-wrap: break-word;
  margin-bottom: 10px;
}

#questionImage {
  max-width: 100%;
  border-radius: 8px;
  margin: 10px 0;
  display: none;
}

.option {
  background: #f1f8e9;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  cursor: pointer;
}

#nextBtn {
  display: none;
  background: #bbdefb;
}

/* feedback png */
#feedbackIcon {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 100px;
  display: none;
  z-index: 9999;
}
